<li class="exchange">
  <h3><%= e.title %></h3>
  <p><%= e.address_line_1 %><br>
  <%= e.city %><br>
  <%= e.zipcode %><br><br>
  <%= e.description %></p>
  <p class="small bold text-right">
  <% if user_signed_in? && current_user.id == @user.id %>
    <%= link_to("CANCEL", "/events/"+e.id.to_s+"/unattend") %> | <a type="button" data-toggle="modal" data-target="#myModal">EDIT</a>
  <%end%><br><br>
</p>
</li>
