<li class="exchange">
  <h3><%= e.title %></h3>
  <p><%= e.address_line_1 %></p>
  <p><%= e.city %></p>
  <p><%= e.zipcode %> </p>
  <p><%= e.description %></p>
  <strong>
  <% if user_signed_in? && current_user.id == @user.id %>
    <%= link_to("Cancel event", "/events/"+e.id.to_s+"/cancel") %>  |
    <%= link_to("Edit event", edit_event_path(e)) %></strong>
  <% end %>
</li>
