<li class="listing col-sm-4 row m-tb">
  <div class="listing-front col-sm-12 ">
    <div class="bg-c1 p-tb">
      <div class="type-icon bg-c1-light abs">
        <p><%= image_tag l.item.category, alt: "item-category", class: "" %></p>
        <div id="heart"></div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <%= image_tag l.image, alt: "listing-image", class: "listing-img bg-c3 " %>
        </div>
        <div class="col-xs-12">
          <h3><%=l.title%></h3>
          <p><%=l.description%></p>
          <p>Quantity: <%=l.quantity%></p>
          <% if user_signed_in? && current_user.id == @user.id %>
          <br><br>
         <!--  <i class="fa fa-times"></i>
          <i class="fa fa-pencil-square-o"></i> -->
          <div class="button inl">
            <%= link_to("Edit me", edit_listing_path(l)) %>
          </div>
          <div class="button inl">
            <%= link_to("Delete", listing_path(l), method: :delete) %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</li>
