<% if object.hosts.first  %>
  <p>Host: <%= object.hosts.first.email %> </p>
<% end %>
<p> Title: <%= object.title %> </p>
<p> Address: <%= object.full_street_address %> </p>
<p> Date: <%= object.date %> </p>
<p> Time: <%= object.time %> </p>
<p> Distance: <%= object.distance %> Miles</p>
<br>
