#myAddEvent.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content.text-left
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
          %span.sr-only Close
        %h2#myModalLabel.modal-title.bold.c-c4.modalextra ADD EVENT
      .modal-body
        = simple_form_for(:event, :url => events_path(:event), html: { class: "" },
                          defaults: { wrapper_html: { class: "field modalextra" }}) do |f|
          = f.input :date, :placeholder => "you need a date"
          = f.input :time, :placeholder => "e.g. 9am - 1pm"
          = f.input :title, :placeholder => "give it a title"
          = f.input :description, :placeholder => "tell us about the event"
          = f.input :address_line_1, :placeholder => "some street address"
          = f.input :city, :placeholder => "some city"
          = f.input :zipcode, :placeholder => "some zip code"
          .modalextra
            = f.button :submit, "Submit", class: "button m-tb"