#myAddEvent.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content.text-left
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
          %span.sr-only Close
        %h2#myModalLabel.modal-title.bold.c-c4.modalextra ADD EVENT
      .modal-body
        = form_for(:event, :url => events_path(:event), class: "form") do |f|
          .field.modalextra
            = f.label :date
            %br/
            = f.date_field :date, autofocus: true, :placeholder => "you need adate", class: "form-control"
          .field.modalextra
            = f.label :time
            %br/
            = f.text_field :time, autofocus: true, :placeholder => "e.g. 9am - 1pm", class: "form-control"
          .field.modalextra
            = f.label :title
            %br/
            = f.text_field :title, autofocus: true, :placeholder => "give it a title",class: "form-control"
          .field.modalextra
            = f.label :description
            %br/
            = f.text_area :description, autofocus: true, :placeholder => "tell us about the event", class: "form-control"
          .field.modalextra
            = f.label :address
            %br/
            = f.text_field :address_line_1, autofocus: true, :placeholder => "some street address",class: "form-control"
          .field.modalextra
            = f.label :city
            %br/
            = f.text_field :city, autofocus: true, :placeholder => "some city",class: "form-control"
          .field.modalextra
            = f.label :zipcode
            %br/
            = f.text_field :zipcode, autofocus: true, :placeholder => "some zip code", class: "form-control"
          .modalextra
            = f.submit "Submit", class: "button m-tb"