<div class="modal fade" id="mySignup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h2 class="modal-title bold c-c4 modalextra nopadding" id="myModalLabel">Sign up </h2><br><p style="c-c4 small;"> You need to sign up before adding an exchange</span></p>
      </div>
      <div class="modal-body">
        <%= form_for(:user, :url => registration_path(:user), class: "form") do |f| %>
          <div class="field">
            <%= f.label :first_name %><br />
            <%= f.text_field :first_name , class: "form-control" %>
          </div>

          <div class="field">
            <%= f.label :last_name %><br />
            <%= f.text_field :last_name , class: "form-control"%>
          </div>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, class: "form-control" %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <% if @validatable %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
          </div>

          <div class="field">
            <%= f.label :address %><br />
            <%= f.text_field :address_line_1, class: "form-control" %>
          </div>

          <div class="field">
            <%= f.label :city %><br />
            <%= f.text_field :city, autofocus: true, class: "form-control" %>
          </div>

          <div class="field">
            <%= f.label :zipcode %><br />
            <%= f.text_field :zipcode, autofocus: true, class: "form-control" %>
          </div>

          <div class="field">
            <%= f.label :about %><br />
            <%= f.text_area :about, autofocus: true, class: "form-control" %>
          </div>

          <div class="actions">
            <%= f.submit "Sign up", class: "button-d m-tb" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>