#mySignup.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
          %span.sr-only Close
        %h2#myModalLabel.modal-title.bold.c-c4.modalextra.nopadding Sign up
        %br
        %p{:style => "c-c4 small;"}
          You need to sign up before adding an exchange
      .modal-body
        = form_for(:user, :url => registration_path(:user), class: "form") do |f|
          .field
            = f.label :first_name
            = f.text_field :first_name , class: "form-control"
          .field
            = f.label :last_name
            = f.text_field :last_name , class: "form-control"
          .field
            = f.label :email
            = f.email_field :email, class: "form-control", id: "js-email-signup", required: true          
          .field
            = f.label :address
            = f.text_field :address_line_1, class: "form-control"
          .field
            = f.label :city
            = f.text_field :city, autofocus: true, class: "form-control"
          .field
            = f.label :zipcode
            = f.text_field :zipcode, autofocus: true, class: "form-control"
          .field
            = f.label :about
            = f.text_area :about, autofocus: true, class: "form-control"
          .field
            = f.label :password
            - if @validatable
              %em
                (#{@minimum_password_length} characters minimum)
            = f.password_field :password, autocomplete: "off", class: "form-control", id: "js-password-signup"
          .field
            = f.label :password_confirmation
            = f.password_field :password_confirmation, autocomplete: "off", class: "form-control", id: "js-password-confirmation-signup"
          .actions
            = f.submit "Sign up", class: "button-d m-tb"